.form-control:focus, .form-select:focus {
    background-color: #111418;
    color: #fff;
    border-color: var(--primary-cyan);
    box-shadow: 0 0 0 0.25rem rgba(0, 212, 255, 0.25);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

::placeholder {
    color: rgba(255, 255, 255, 0.3) !important;
}

.text-cyan {
    color: var(--primary-cyan) !important;
    text-shadow: 0 0 10px rgba(0, 212, 255, 0.3);
}