.page-header {
    background: linear-gradient(rgba(15, 18, 22, 0.9), rgba(15, 18, 22, 0.7)), 
                url('../assets/images/hero-image.png');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    border-bottom: 1px solid var(--primary-cyan);
    margin-bottom: 2rem;
    margin-top: 20px;
}

.filter-bar {
    background-color: var(--bg-card);
    border: 1px solid rgba(233, 221, 221, 0.737);
    border-radius: 10px;
    padding: 20px;
}

.pagination .page-link {
    background-color: var(--bg-card);
    border-color: #444;
    color: white;
    transition: all 0.3s ease;
}

.pagination .page-link:hover {
    background-color: #2c323a;
    border-color: var(--primary-cyan);
    color: var(--primary-cyan);
}

.pagination .page-item.active .page-link {
    background-color: var(--primary-cyan);
    border-color: var(--primary-cyan);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.pagination .page-item.disabled .page-link {
    background-color: #15191e;
    border-color: #333;
    color: #666;
}

.card.tournament-card {
    background-color: #ffffff; 
    border: 1px solid #dee2e6;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card.tournament-card .card-title {
    color: #0f1216 !important;
}

.card.tournament-card .card-text {
    color: #444444 !important;
}

.card.tournament-card:hover {
    transform: translateY(-10px);
    border-color: var(--primary-cyan);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 0 15px rgba(0, 212, 255, 0.1);
}

.tournament-card img, .card-img-top {
    height: 220px;
    object-fit: contain;
    width: 100%;
    filter: grayscale(30%);
    transition: 0.3s;
}

.card.tournament-card:hover .card-img-top {
    filter: grayscale(0%); 
}