<footer class="footer bg-dark text-white py-4 mt-auto border-top border-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>OneTap eLeague</h5>
                <p class="text-white-50">La plataforma líder para torneos universitarios de eSports</p>
            </div>
            <div class="col-md-3">
                <h5>Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a href="/tournaments" class="text-white-50 text-decoration-none">Torneos</a></li>
                    <li><a href="/teams" class="text-white-50 text-decoration-none">Equipos</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contacto</h5>
                <p class="text-white-50">info@onetapeleague.com</p>
            </div>
        </div>
        <hr class="border-secondary">
        <div class="text-center">
            <p class="mb-0 text-white-50">&copy; 2026 OneTap eLeague. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>